.header-img-size img{
   width: 100%;
}

header{
    background-color: #fffbf0;
}

.card-panda{
    border: 0;
}
.panda-card-footer{
    background-color: white;
    border: 0;
}

.categories img{
    width: 100px;
}

.panda-slide .carousel-item{
    background-color: #feeae9;
    border-radius: 1em;

}

.categories-color{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.categories-color img{
    height: 100%;
}

.footer-shadow{
    border-radius: 10px;
}



h3{
    color: #fbce78;
    font-weight: bold;
}

.btn-background{
    background-color: #9ab337 !important;
    border-radius: 1em;
}

.txt-highlited{
    color: #fabe4c;
}

h1{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
    h1{
        font-size: 40px;
    }
    .btn-width{
        width: 40%;
    }

    h2{
        font-size: 20px;
    }

    h5{
        font-size: 10px;
    }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    h1{
        font-size: 50px;
    }
    .btn-width{
        width: 30%;
    }

    h2{
        font-size: 30px;
    }

    h5{
        font-size: 20px;
    }
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    h1{
        font-size: 50px;
    }
    .btn-width{
        width: 30%;
    }

    h2{
        font-size: 30px;
    }

    h5{
        font-size: 20px;
    }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    h1{
        font-size: 50px;
    }
    .btn-width{
        width: 30%;
    }

    h2{
        font-size: 30px;
    }

    h5{
        font-size: 20px;
    }
}




